<div class="form-group row">
  <div class="container main-content pt-0">
    <div class="mx-auto col-sm-8">
      <div class="row" style="padding-top: 35px">
        <div class="content">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <h2>Online Learning Platforms:</h2>

              <h3>Free Platforms:</h3>
              <ul>
                <li>Codecademy</li>
                <li>freeCodeCamp</li>
                <li>W3Schools</li>
                <li>MDN Web Docs</li>
                <li>Khan Academy</li>
              </ul>

              <h3>Paid Platforms:</h3>
              <ul>
                <li>Udemy</li>
                <li>Coursera</li>
                <li>edX</li>
                <li>Pluralsight</li>
                <li>LinkedIn Learning</li>
              </ul>

              <h2>Coding Practice Websites:</h2>

              <h3>Coding Challenges:</h3>
              <ul>
                <li>LeetCode</li>
                <li>HackerRank</li>
                <li>Codewars</li>
                <li>Exercism</li>
              </ul>

              <h3>Interactive Coding Environments:</h3>
              <ul>
                <li>CodePen</li>
                <li>JSFiddle</li>
              </ul>

              <h2>Technical Documentation:</h2>
              <ul>
                <li>
                  <strong>MDN Web Docs</strong>: Comprehensive documentation for
                  web technologies.
                </li>
                <li>
                  <strong>Official Documentation</strong>: Refer to the official
                  documentation for frameworks and libraries like Angular,
                  React, and Node.js.
                </li>
                <li>
                  <strong>Stack Overflow</strong>: A vast community forum for
                  developers to ask and answer questions.
                </li>
              </ul>

              <h2>Books:</h2>
              <h3>JavaScript:</h3>
              <ul>
                <li>"You Don't Know JS" series by Kyle Simpson</li>
                <li>"JavaScript: The Good Parts" by Douglas Crockford</li>
              </ul>

              <h3>HTML and CSS:</h3>
              <ul>
                <li>
                  "HTML and CSS: Design and Build Websites" by Jon Duckett
                </li>
              </ul>

              <h3>React:</h3>
              <ul>
                <li>"React in Action" by Stoyan Stefanov</li>
              </ul>

              <h3>Angular:</h3>
              <ul>
                <li>"Angular in Action" by Manning Publications</li>
              </ul>

              <h3>Node.js:</h3>
              <ul>
                <li>"Node.js, The Right Way" by Jim Wilson</li>
              </ul>

              <h2>Additional Resources:</h2>
              <h3>Web Development Blogs:</h3>
              <ul>
                <li>CSS-Tricks</li>
                <li>Smashing Magazine</li>
                <li>Web Dev Digest</li>
              </ul>

              <h3>YouTube Channels:</h3>
              <ul>
                <li>Traversy Media</li>
                <li>Web Dev Simplified</li>
                <li>Academind</li>
                <li>The Coding Train</li>
              </ul>
              <p class="card-text">
                <small class="text-muted">Updated Monthly</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
