<form [formGroup]="form" (submit)="submit()">
  <div class="form-group row" style="padding-top: 30px">
    <div class="col-sm-4">
      <select name="select" class="form-select" formControlName="country">
        <option [ngValue]="null" disabled>Countries</option>
        @for (country of countries$ | async; track country.name){
        <option>
          {{ country.name }}
        </option>
        }
      </select>
    </div>

    <div class="col-sm-4">
      <select name="select" class="form-select" formControlName="province">
        <option [ngValue]="null" disabled>Provinces</option>
        @for (province of provincesByCountry;track province.name){
        <option>
          {{ province.name }}
        </option>
        }
      </select>
    </div>
    <div class="col-sm-4">
      <select class="form-select" name="select" formControlName="city">
        <option [ngValue]="null" disabled>Cities</option>
        @for (city of citiesByProvince; track city){
        <option>
          {{ city }}
        </option>
        }
      </select>
    </div>
  </div>
  <button *ngIf="this.form.valid" type="submit">Submit</button>
</form>

<div *ngIf="form.valid">{{ form.value | json }}</div>
