<form [formGroup]="form" (submit)="submit()">
  <div class="form-group row" style="padding-top: 30px">
    <div class="col-sm-6">
      <select class="form-select" name="select" formControlName="language">
        <option [ngValue]="null" disabled>Languages</option>
        @for (topic of topics$ | async; track topic.name){
        <option>
          {{ topic.name }}
        </option>
        }
      </select>
    </div>
    <div class="col-sm-6">
      <select class="form-select" name="select" formControlName="topic">
        <option [ngValue]="null" disabled>Topics</option>
        @for (topic of topicsByLanguage;track topic.name){
        <option>
          {{ topic.name }}
        </option>
        }
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6">
      <button class="btn btn-secondary" *ngIf="this.form.valid" type="submit">
        Submit
      </button>
    </div>
    <div class="col-sm-6" style="padding-top: 30px">
      <button class="btn btn-secondary" type="button" (click)="clearForm()">
        Clear
      </button>
    </div>
  </div>

  <!-- <div *ngIf="form.valid">{{ form.value | json }}</div> //Uncomment to see the selected values -->
</form>
